* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}
.header {
  background-color: white;
  max-height: 100vh;
  display: flex;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: black;
}

.line {
  border: 1px grey solid;
  width: 90%;
  display: flex;
}


.sidebar {
  position: relative;
  width: 160px;
  height: 238px;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-left: 10px;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 375px;
  border: solid 1px grey;
}

.footer {
  position: fixed;
  align-items: flex-end;
  height: 20px;
}

